.start {
    opacity: 0;
}

.end {
    opacity: 1;
    transition: opacity 0.5s;
}

.main-bg {
    height: 300px;
    background-image: url('./bg-1.png');
    background-size: cover;
    background-position: center;
}